__pycache__/
.ipynb_checkpoints/
.idea/
runs
*.sh
plot.py
plot_eval.py
results/
*.pdf
img_training.png
*_test.py
test.py
*.png
*.out
imgs
ur5_eval.py
dmc_train.py
configs/dmc_config.py
envs/dmc_wrapper.py
.vscode/
.DS_store
instructions.md
